body{
    font-family: Arial serif;
    font-size: 20px;
    margin: 0;
  
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.nav {
    grid-column:1/13;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
 
}
ul li {
    display: inline;
}
#logo {
    padding: 15px;
    margin-left: 15px;
    background-color: #f3f1c7;
    color: #298383;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}
ul li a{
    color: #fff;
    padding: 15px;
    
}

header{
    background-color: #00283C;
    display: grid;
    
    
}


footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    right:0;
    left:0;
    position: absolute;
    width: 100%;
    background-color:#252525;
    color:white;
  
    height:50px;
    align-content: center;
}

.visit {
    grid-column: 2/6;
    margin: 0;
    
}

.alachua-info{
    font-size: 15px;
    color:white;
   
}