body{
    font-family: Arial serif;
    font-size: 20px;
    margin: 0;
  
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.nav {
    grid-column:1/13;
    border-bottom: 3px #9F895D solid;
}
nav {
    grid-column: 4/6;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
 
}
ul li {
    display: inline;
}
#logo {
    padding: 15px;
    margin-left: 15px;
    background-color: #f3f1c7;
    color: #298383;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}
ul li a{
    color: #fff;
    padding: 15px;
    
}

.menu {
    padding: 10px;
    font-size: 20px;
}

header{
    background-color: #00283C;
    display: grid;
    
    
}
.hero {
    grid-column: 3/11;
    grid-row: 2;
  
}
.hero-img{
    width:100%;
}

.main {
    grid-column: 4/10;
}
.description {
    margin-left: 35px;
    line-height: 1.5rem;
}

.tagline {
 grid-column: 1/13;
color: white;
background-color: #9F895d;
display: grid;
grid-template-columns: repeat(12, 1fr);
}

/*CODE FOR HISTORY SECTION */   
#history-section {
    display:grid;
    color: white;
    grid-template-columns: repeat(12,1fr);
    background-color: #00283C;
    height: 750px;
    align-content: center;
}
.place-img{
    width:100%;
}

.img-left{
    grid-column: 3/5;

}
.img-center{
    grid-column: 6/8;
}
.img-right{
    grid-column: 9/11;
}
.history-text{

    line-height: 2.5em;
    grid-column:3/11;
    margin-top: 40px;
    border-top: 1px #9F895D solid;
    border-bottom: 1px #9F895D solid;
}
.franklin {
    grid-column:9/11;
}
.explore {
    grid-column: 2/6;
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    right:0;
    left:0;
    position: absolute;
    width: 100%;
    background-color:#252525;
    color:white;
  
    height:50px;
    align-content: center;
}

.visit {
    grid-column: 2/6;
    margin: 0;
    
}

.alachua-info{
    font-size: 15px;
    color:white;
   
}