.grid-container {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
}

.nav {
    grid-row: 1;
    grid-column: 1/13;

}

.hero {
    grid-column: 3/11;
    grid-row: 2;
}

.main {
    grid-column: 3/11;
}

.tagline {
    grid-column: 3/11;
}


.hero-img {
    width: 100%;
}

.img-left {
    grid-column: 4/6;
    
}

.img-center {
    grid-column: 7/8;
}

.img-right {
    grid-column: 9/10;
}
.history-text{
    grid-column: 1/13;
}