.grid-container {
    display: grid;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    float: right;
}
ul li {
    display: inline;
}
#logo {
    padding: 15px;
    margin-left: 15px;
    background-color: #f3f1c7;
    color: #298383;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}
ul li a{
    color: #fff;
    padding: 15px;
    
}

header{
    background-color: #00283C;

    display: grid;
    grid-template-columns: fit-content(30%) auto;
}


.mini-grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 55px;
    grid-gap: 15px;
}
.rep-text{
    grid-column:3/7;
    
}
.rep-text, p, h1{
    color:#00283c;
}
.card{
    width:100%;
}
.image-left{
    grid-column:3/5;
}
.image-right{
    grid-column:5/7;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#252525;
    color:white;
    text-align: center;
    height:50px;
}